html {
  height: 100%;
}

body {
  height: 100%;
}

.main-page-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
  & > .page-content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .main-footer {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
}