$primary_green: #73C7AC;
$primary_dark: #2F2C28;
$primary_orange: #F5855C;
$white: #ffffff;
$danger: #FF5E5B;
$text_grey: #888;
$black: #302C29;
$primary_light: #F5F3DC;
$primary_blue: #289C92;
$secondary_blue: #72C7AC;
$beige: #F4F2ED;
$light_grey: #EFEBE3;
$harsh_red: #CF2E37;