form.gf-form {
  padding: 0 15px;

  label {
    color: $primary_orange;
    text-transform: uppercase;
    font-size: small;
  }

  input[type=text], input[type=email], input[type=password], textarea {
    border-radius: 0;
  }

  textarea {
    resize: none;
    max-height: 120px;
  }

  &.form-narrow {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
}

.word-count-suggestion {
  color: $black;
  font-size: 90%;
  padding: 4px 12px;

  &:before {
    content: '( ';
    color: $danger;
  }

  &:after {
    content: ' )';
    color: $danger;
  }
}